.gpt3__footer {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}

.gpt3__footer-heading {
    width: 100%;
    text-align: center;

    margin-bottom: 3rem;
}

.gpt3__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    text-align: center;
}


.gpt3__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border: 2px solid white;

    margin-bottom: 10rem;
    cursor: pointer;
}

.gpt3__footer-btn p {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.gpt3__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left;
    gap: 2rem;
    margin-bottom: 2rem;
}

.gpt3__footer-links_logo {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid; */
}

.gpt3__footer-links_logo img {

    width: 118px;
    margin: 1rem 0;

}

.gpt3__footer-links_logo p {

    font-family: var(--font-family);

    font-size: 12px;
    color: #ffffff;
}

.gpt3__footer-links_div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
    font-family: var(--font-family);
    margin-bottom: 2rem;


    /* border: 1px solid; */

}

.gpt3__footer-links_div h4 {
    margin-bottom: 1rem;
}

.gpt3__footer-links_div p {
    font-size: 12px;
    cursor: pointer;
}

.gpt3__footer-copyright p {
    font-family: var(--font-family);
    text-align: center;
    margin-bottom: -10rem;
}



@media screen and (max-width: 550px) {
    .gpt3__footer-heading h1 {
        font-size: 36px;

    }

    .gpt3__footer-btn {
        margin-bottom: 4rem;
    }

    .gpt3__footer-btn p {
        font-size: 12px;
    }

    .gpt3__footer-links_logo {
        margin-bottom: 2rem;
    }

    .gpt3__footer-links_logo img {

        width: 98px;

    }

    .gpt3__footer-links {
        /* flex-direction: column; */
        gap: 2rem;
    }

    .gpt3__footer-copyright p {
    font-size: 12px;
}

}